*{margin:0;padding:0;list-style:none;}
html{font-size:100px;}
.bg{background:rgba(0,0,0,0.2);}
/*头部*/
#header{width:4.14rem;height:0.48rem;background:#010101;position:relative;}
#header #navLeft img{width:0.48rem;height:0.48rem;float:left;}
#header #navCenter img{width:0.48rem;height:0.48rem;margin-left:1.35rem;float:left;}
#header #navRight img{width:0.48rem;height:0.48rem;margin-left:1.35rem;float:left;}
/*内容*/
#content{width:4.14rem;height:14.09rem;}
#content #play{width:4.14rem;height:5.97rem;position:relative;overflow:hidden;}
#content #play #ul{position: absolute;}
#content #play #ul li{float: left;}
#content #play #ul li img{width:4.14rem;height:5.97rem;}
#content #play #ol{position:absolute;top:5.7rem;left:1rem;}
#content #play #ol li{width:0.5rem;height:0.03rem;float:left;margin:0.1rem;background:rgba(0,0,0,0.6);}
#content #main{width:4.14rem;height:8.12rem;}
#content #main li{width:4.14rem;height:2.03rem;}
#content #main li img{width:4.14rem;height:2.03rem;}
/*尾部*/
#footer{width:4.14rem;height:4.6rem;background:#F2F2F2;}
#footer #guildOne{height:0.55rem;font-size:0.1rem;color:#999;margin-left:0.18rem;margin-top:0.2rem;float:left;}
#footer #line{width:3.82rem;height:0.01rem;background:#E3E3E3;margin-left:0.18rem;float:left;}
#footer #guildTwo{width:4.14rem;height:0.6rem;float:left;}
#footer #guildTwoA{width:3.65rem;height:0.6rem;font-size:0.14rem;color:#333;margin-left:0.18rem;margin-top:0.3rem;float:left;}
#footer #guildTwoB img{width:0.13rem;height:0.13rem;margin-top:0.3rem;float:left;}
#footer #guildThree{width:4.14rem;height:0.4rem;float:left;}
#footer #guildThreeA{width:3.65rem;height:0.4rem;font-size:0.14rem;color:#333;margin-left:0.18rem;margin-top:0.12rem;float:left;}
#footer #guildThreeB img{width:0.13rem;height:0.13rem;margin-top:0.12rem;float:left;}
#footer #guildFour{height:0.5rem;color:#999;font-size:0.12rem;margin-left:0.18rem;margin-top:0.25rem;float:left;}
#footer #guildFour span{color:#0070C9;}
/*导航栏下拉(左)*/
#navTwo{width:4.14rem;height:7.36rem;background:#000;position:absolute;top:0;left:0;display:none;}
#navTwo #navA{width:4.14rem;height:0.48rem;}
#navTwo #navA img{width:0.48rem;height:0.48rem;float:left;}
#navTwo #navB{width:4.14rem;height:6.5rem;}
#navTwo #navB-One{height:0.35rem;font-size:0.22rem;color:#E0E0E0;margin-top:0.15rem;margin-left:0.45rem;float:left;}
#navTwo #lineB{width:3.17rem;height:0.01rem;background:#333;margin-left:0.45rem;float:left;}
#navTwo img{width:0.22rem;height:0.22rem;}
/*导航栏下拉(右)*/
#logo img{width:0.22rem;height:0.12rem;position:absolute;top:0.37rem;left:3.8rem;display:none;}
#navThree{width:4.14rem;height:3.25rem;background:#FFF;position:absolute;top:0.48rem;display:none;}
#navThree #navThreeA{width:4.14rem;height:0.9rem;font-size:0.14rem;color:#999;line-height:0.9rem;text-align:center;}
#navThree #lineC{width:3.18rem;height:0.01rem;background:#E3E3E3;margin-left:0.5rem;float:left;}
#navThree #navThreeB{width:4.14rem;height:0.45rem;}
#navThree #navThreeB img{width:0.2rem;height:0.22rem;margin-left:0.5rem;margin-top:0.1rem;float:left;}
#navThree #navThreeB p{font-size:0.14rem;color:#68AADF;margin-top:0.15rem;margin-left:0.15rem;float:left;}
