* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 100px;
}

#header {
    width: 100%;
    height: 0.48rem;
    background: #333333;
    float: left;
}

#header img {
    width: 0.48rem;
    height: 0.48rem;
    float: left;
    margin-left: 1.35rem;
}

#header #navLeft {
    margin: 0;
}


/*导航栏下拉*/

#navTwo {
    width: 4.14rem;
    height: 7.36rem;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#navTwo #navA {
    width: 4.14rem;
    height: 0.48rem;
}

#navTwo #navA img {
    width: 0.48rem;
    height: 0.48rem;
    float: left;
}

#navTwo #navB {
    width: 4.14rem;
    height: 6.5rem;
}

#navTwo #navB ul li {
    width: 4.14rem;
    height: 0.5rem;
}

#navTwo #navB ul li img {
    width: 4.14rem;
    height: 0.5rem;
    float: left;
}


/*导航栏下拉(右)*/

#logo img {
    width: 0.22rem;
    height: 0.12rem;
    position: absolute;
    top: 0.37rem;
    left: 3.8rem;
    display: none;
}

#navThree {
    width: 4.14rem;
    height: 3.25rem;
    background: #FFF;
    position: absolute;
    top: 0.48rem;
    display: none;
}

#navThree #navThreeA {
    width: 4.14rem;
    height: 0.9rem;
    font-size: 0.14rem;
    color: #999;
    line-height: 0.9rem;
    text-align: center;
}

#navThree #lineC {
    width: 3.18rem;
    height: 0.01rem;
    background: #E3E3E3;
    margin-left: 0.5rem;
    float: left;
}

#navThree #navThreeB {
    width: 4.14rem;
    height: 0.45rem;
}

#navThree #navThreeB img {
    width: 0.2rem;
    height: 0.22rem;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    float: left;
}

#navThree #navThreeB p {
    font-size: 0.14rem;
    color: #68AADF;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    float: left;
}

#content {
    width: 100%;
    float: left;
}

#content .banner {
    width: 100%;
}

#content .banner img {
    width: 100%;
    float: left;
    padding-top: 0.05rem;
}

#content .main {
    width: 100%;
    float: left;
    margin-top: 0.05rem;
}

#content .main img {
    padding-top: 0.5rem;
    width: 100%;
    height: 3.6rem;
}

#content .main p {
    font-size: 0.20rem;
    color: #333333;
    font-weight: 600;
    text-align: center;
}

#content .main a {
    display: block;
    font-size: 0.13rem;
    color: #0070c9;
    text-align: center;
    padding-top: 0.1rem;
    text-decoration:none;
}

#content .shop {
    width: 100%;
    background: #f2f2f2;
    float: left;
    margin-top: 0.4rem;
}

#content .shop img {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;
    padding-top: 0.28rem;
}

#content .shop p {
    width: 100%;
    font-size: 0.20rem;
    text-align: center;
    color: #727272;
    padding-top: 0.2rem;
    font-weight: 600;
}

#content .shop a {
    display: block;
    font-size: 0.13rem;
    color: #0070c9;
    text-align: center;
    padding-top: 0.1rem;
    text-decoration:none;
}

#content .shop .dt {
    width: 100%;
    font-size: 0.15rem;
    text-align: center;
    color: #727272;
    font-weight: 300;
}

#content .msgguild {
    width: 100%;
    height: 1.4rem;
    background: #f2f2f2;
    float: left;
}

#content .msg {
    float: left;
    width: 93%;
    height: 0.47rem;
    border-top: 0.01rem solid #e3e3e3;
    border-bottom: 0.01rem solid #e3e3e3;
    margin-left: 0.15rem;
    background: #f2f2f2;
    margin-top: 0.24rem;
}

#content .msg p {
    font-size: 0.1rem;
    line-height: 0.47rem;
    color: #a9a9a9;
    font-weight: 400;
}

#footer {
    width: 4.14rem;
    height: 3.9rem;
    background: #F2F2F2;
    float: left;
}

#footer #line {
    width: 3.82rem;
    height: 0.01rem;
    background: #E3E3E3;
    margin-left: 0.18rem;
    float: left;
}

#footer #guildTwo {
    width: 4.14rem;
    height: 0.6rem;
    float: left;
}

#footer #guildTwoA {
    width: 3.65rem;
    height: 0.6rem;
    font-size: 0.14rem;
    color: #333;
    margin-left: 0.18rem;
    margin-top: 0.3rem;
    float: left;
}

#footer #guildTwoB img {
    width: 0.13rem;
    height: 0.13rem;
    margin-top: 0.3rem;
    float: left;
}

#footer #guildThree {
    width: 4.14rem;
    height: 0.4rem;
    float: left;
}

#footer #guildThreeA {
    width: 3.65rem;
    height: 0.4rem;
    font-size: 0.14rem;
    color: #333;
    margin-left: 0.18rem;
    margin-top: 0.12rem;
    float: left;
}

#footer #guildThreeB img {
    width: 0.13rem;
    height: 0.13rem;
    margin-top: 0.12rem;
    float: left;
}

#footer #guildFour {

    height: 0.5rem;
    color: #999;
    font-size: 0.12rem;
        margin-left: 0.14rem;
    margin-top: 0.25rem;
    float: left;
}

#footer #guildFour span {
    color: #0070C9;
}
